# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/compiler.xml
/misc.xml
/encodings.xml
/workspace.xml
/jarRepositories.xml
/vcs.xml
/.idea/
./openai-code-review-sdk/target/
./openai-code-review-test/target/